appdirs==1.4.4
attrs==20.3.0
beautifulsoup4==4.9.3
bs4==0.0.1
certifi==2020.12.5
chardet==4.0.0
cssselect==1.1.0
fake-useragent==0.1.11
filelock==3.0.12
idna==2.10
iniconfig==1.1.1
lxml==4.6.2
packaging==20.8
parse==1.18.0
pluggy==0.13.1
py==1.10.0
pyee==7.0.4
pyparsing==2.4.7
pyppeteer==0.2.2
pyquery==1.4.3
pytest==6.2.1
requests==2.25.1
requests-html==0.10.0
six==1.15.0
soupsieve==2.1
toml==0.10.2
tqdm==4.55.0
uritools==3.0.0
urlextract==1.2.0
urllib3==1.26.2
w3lib==1.22.0
websockets==8.1
